h1 Free API for your online shop pet project :)
p Designed and created by 
    b Dmytro Honchar 
a(href="http://localhost:6969/docs") Documentation 
div 
a(href="https://github.com/mxrcury", target='_blank') My Github
div 
a(href="https://www.linkedin.com/in/dmytro-honchar-b125a419b/", target='_blank') My Linkedin  